footer{
  overflow: hidden;
}
.text-p{
    text-shadow: none;
    font-size: 14px;
    color: #999;
    padding: 20px 0 0 5px;
}

.small-label {
	font-size: 14px;
}

 .product_view .modal-dialog{
 	max-width: 800px;
 	width: 100%;
 }

 .pre-cost{
 	text-decoration: line-through;
 	color: #a5a5a5;
 }

 .space-ten{
 	padding: 10px 0;
 }

.pass header h2 {
    display: inline;
    text-align:center;
    font-family:"Times New Roman";
}
.pass.pass-preview h2 {
	font-size: 24px;
}

.pass.pass-preview h3 {
	font-size: 18px;
}



.pass .brand-left, .brand-right {
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 60px;          
}

.pass .brand-left img, .brand-right img {
    width:100%;
    height: 100%;
    left: 50%;
    top:0;
    position: absolute;
    transform: translateX(-50%);
}

.pass table:not(.avatar) {
    border-collapse: collapse;
}
.pass.pass-preview table.avatar {
	border-collapse: separate;
	border-spacing: .5em;
}

.pass td {
    padding: .5em;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.row-padding {
  padding: 0 15px 0 85px;
}

.navbar-brand {
  /*width:110px;*/
  font-size: 14px;
  padding: 0px 15px;
}
.navbar-brand img {
  padding:0;
  margin-left: 18px;
}

.chg-width {
  width:1290px;
}

.chng-width-navbar {
  width:1250px;
}

.pointer-icon{
  cursor: pointer;
}